@font-face {
    font-family: 'Titulo';
    src: url(../css/letras/titulo-opera.woff);
}
@font-face {
    font-family: "Header";
    src: url(../css/letras/Believer-3z1Ry-opera.woff);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffe5f1c5 !important;
}
header{
    background-color: #AEE6F7;
    width: 100%;
    height: 100%;
}
main{
    text-align: center;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;
}
.logo-png{
    width: 120px;
    height: 120px;
}
.logo-main{
    width: 100%;
    height: 500px;
}
.titulo-header{/*El efecto es que siempre se aplicará el estilo definido como !important, aunque luego se pueda sobrescribir con otro estilo más tarde en la misma declaración o en otra distinta. */
    text-align: center;
    font-size: 35px;
    font-family: 'Header';
    color: #ffffff;
    text-shadow: 2px 2px 5px #38c4ee;
}
.nav-principal{
    display: flex;
}
.nav-principal a{
    font-family: "Caprasimo", serif;
    color: #f7c5dd;
    text-shadow: 2px 2px 5px #b6045a;
    margin-right: 20px;
    padding: 5px;
    text-decoration: none;
}
.nav-principal a:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px #bd7b9b;
    transition: 0.5s;
}

.section1{
    background: linear-gradient(to bottom, #fcfcfc00, #ffe5f100), url(../css/img/detrás.gif);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0;
}
.titulo2{
    font-family: 'Titulo';
    font-size: 80px;
    color: #f493c2; /* Hace el texto transparente para que solo se vea la sombra */
    text-shadow: 0 0 5px #3EB3E6 ;
}
.boton-registro{
    color: #65dbff;
    font-weight: bolder;
    background-color: #f493c2;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-style: none;
}
.boton-registro:hover {
    background: #fff;
    color: #ff0a78;
    box-shadow: 0px 0px 15px 5px #38c4ee;
    transition: 0.5s;
  }
.section2{
    background: linear-gradient(to top, #ffe5f1c5, #ffffff);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-delay: 10s;
    padding-top: 15%;
    padding-bottom: 15%;
}
.titulo-buscador{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #63c0fd;
}
.cuadro-buscador{
    height: 50px;
    display: inline;
}
.texto{
    width: 300px; 
    padding: 15px; 
    border: 2px solid #63c0fd; 
    border-radius: 25px;
    color: #f493c2;
}
.boton-buscar{
    background-color: #56cafc;
    width: 100px; 
    padding: 20px; 
    border: 2px solid #ffffff; 
    border-radius: 25px;
    color: white;
}
.boton-buscar:hover{
    box-shadow: 0px 0px 25px 3px #56cafc;
    transition: 0.5s;
}
.section3{
    background-color: #ffe5f1c5;
}
.titulo-section3{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px #63c0fd;
}
.container{
    display: flex;
}
.card{
    margin-right: 20px;
    border: none !important;
}
.tendencia-img{
    height: 10px;
}
.card:hover{
    transition: 0.5s;
    transform: scale(0.95);
    box-shadow: 0px 0px 12px 5px #AEE6F7;
}
.boton-section3{
    background-color: #56cafc;
    width: 100px; 
    padding: 5px; 
    border: 2px solid #ffffff; 
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}
.boton-section3:hover{
    box-shadow: 0px 0px 25px 3px #56cafc;
    transition: 0.5s;
    transform: scale(0.90);
}
.section4{
    background-color: #ffe5f1c5;
    
}
.container2{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}
.card2 {
    margin-right: 3rem;
}
.card2:hover{
    transition: 0.5s;
    transform: scale(0.90);
}
.titulo-section4{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #63c0fd;
}
.img-friends{
    width: 15rem;
    height: 15rem;
    position: relative;
    border-radius: 10px;
}
.hr1 hr{
    border: 1px solid #56cafc;
    width: 80%;
    height: 10px;
    background-color: #38c4ee;
    border-radius: 20px;
    margin: auto;
}
.flecha{
    position: fixed;
    cursor: pointer;
    justify-content: end;
}
.flecha img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 50px;
    height: 50px;
}
.flecha{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
footer{
    background-color: #5ccaf8;
    text-align: center;
}

/*Los id se llaman con # en css*/ 